<div class="skeleton">
    <div class="skeleton__header">
        <div class="skeleton__img"></div>
    </div>
    <div class="skeleton__title">
        <div class="skeleton__title--content"></div>
        <div class="skeleton__title--content"></div>
    </div>
    <div class="skeleton__details">
        <div class="skeleton__details--content"></div>
        <div class="skeleton__details--content"></div>
        <div class="skeleton__details--content"></div>
        <div class="skeleton__details--content"></div>
        <div class="skeleton__details--content"></div>
        <div class="skeleton__details--content"></div>
    </div>
    <div class="skeleton__body">
        <div class="skeleton__content"></div>
        <div class="skeleton__content"></div>
        <div class="skeleton__content"></div>
    </div>
    <div class="skeleton__footer"></div>
</div>
